 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">TU Darmstadt, Germany</h5>
    <div class="time">2011 - 2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.E. Computer Science and Engineering</h4>
    <h5 class="meta">Visvesvaraya Technological University</h5>
    <div class="time">2004 - 2007</div>
</div><!--//item-->
</div><!--//education-container-->
