<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Student Assistant</h3>
                            <div class="time">2016-2017>
                        </div><!--//upper-row-->
                        <div class="company">Fraunhofer IFF, Magdeburg</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
                  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Student Assistant</h3>
                            <div class="time">2015-2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Centre for Advanced Security Darmstadt</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
                  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Student Assistant</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">FZD, TU Darmstadt</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">IT Analyst</h3>
                            <div class="time">2011- 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">TCS, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer
                            <div class="time">2010-2011</div>
                        </div><!--//upper-row-->
                        <div class="company">LG Soft India, Bangalore
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Engineer</h3>
                            <div class="time">2008-2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Wipro Technologies, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p></p>
                </div><!--//item-->
                
            </section><!--//section-->
